@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.glow {
  text-shadow:
    0 0 10px #22d3ee,
    0 0 20px #22d3ee,
    0 0 40px #22d3ee;
}

.card-hover {
  transition: all 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-8px);
}

.section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #22d3ee;
  margin-bottom: 3rem;
}